body {
    background-color: black;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    padding: 0;
    width: 96%;
    text-align: center;
    overflow: hidden;
    margin: 5% 2% 2% 1%;
    
}

table {
    width: 100%;
}

td {
    width: 50%;
    padding: 1% 0 1% 0;
}

.heading {
    font-size: 175%;
}

/* input table */
.inputCell {
    text-align: right;
    height: 100%;
    font-size: 125%;
    background-color: black;
    border: none;
    color: white;
    width: 50%;
    padding-right: 40%;
}

.sizes {
    text-align: left;
    padding-left: 20%;
    font-size: 100%;
    font-weight: lighter;
}

/* calculation button */
.calculate {
    text-align: center;
    font-size: 150%;
    background-color: greenyellow;
    padding: 9px 8px 4px 8px;
    color: black;
    border-radius: 12px;
}

.customButton {
    margin: 3% 0 8% 0;
}

/* results */
.results1 {
    font-size: 200%;
    font-weight: bolder;
}

.results2 {
    font-size: 200%;
    font-weight: bolder;
    color:greenyellow;
}

/* footer */
footer {
    text-align: right;
    color:rgb(56, 56, 56);
    font-size: .4rem;
    position: fixed;
    bottom: 0;
}

/* ruleset for >= 1000px */
@media only screen and (min-width: 1000px) { 
td {
    padding: .5% 0 .5% 0;
}

.sizes {
    margin-left:50%;
}

.inputCell {
    margin-right:50%;
}
}