html {
    font-size: 16px;
}

header {
    display: block;
    height: 1.5rem;
}

body {
    text-align: center;
    text-justify: auto;
    background-color: black;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}
.newLabel{
    font-size: 2rem;
    display: block;
}

.results {
    font-size: 2rem;
    display: block;
    margin-top: 15px;
}

.headings {
    font-size: 2rem;
    display: block;
    margin: 0 0 0 0;
}

.size {
    margin: 0 0 0 0;
}

.userBox {
    display: inline-block;

}

.myButton {
    text-align: center;
    margin: 1.5rem 0 3rem 0;
    
}

#Needed {
    color:rgb(0, 255, 0);
}