header {
    height: .5rem;
}

body {
    background-color: black;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    margin: 1rem;
    padding: 0;
    width: auto;
    text-align: left;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

.results {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.headings {
    margin: 0 0 0 0;
}

.myButton {
    background-color: white;
    margin: 1.5rem 0 1.5rem 0;
    font-weight: normal;
    

    
}

.green {
    color: #00FF00;
}


.inlineBlock{
    display: inline-block;
}

.inline {
    display: inline;
}

.userBox {
    float: right;
    clear: both;
    margin-left: 1.5rem;
    max-width: 8rem;
}

p {
    font-size: .75rem;
    display: inline-block;
    font-weight: lighter;
    line-height: 1rem;
    padding-top: .5rem;
}

h1 .new {
    font-size: 1.5rem;
    font-weight: normal;
}

h2 {
    font-size: 1.1rem;
    font-weight: normal;
}

